<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/app/home"><img class="icon"/></a>
    <h2 style="text-align:center">Herzlich Willkommen!</h2>
    <h3 style="text-align:center">Zugang nur für registrierte Benutzer.</h3>
    <a  href="app/home"><h2 style="text-align:center">Zugang</h2></a>
  </body>
</html>
